<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Switchhost</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
          href="https://fonts.googleapis.com/css?family=Raleway:400,300,600"
          rel="stylesheet"
          type="text/css"
  />
  <link rel="stylesheet" href="skeleton.min.css" />
  <link rel="icon" type="image/png" href="images/favicon.png" />
</head>

<body>
<div class="container">
  <div class="row">
      <h1>Switch Host</h1>
      <hr />
    <img height="512" src="{GameBannerImageURI}" />
  </div>
  <div class="row">
      <h3>{GameTitle}</h3>
    <img height="512" src="{GameImageURI}" />

  </div>
  <div class="row">
    <table class="u-full-width">
      <thead>
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Size</th>
      </tr>
      </thead>
      <tbody>
      {GameDetailsTableContents}
      </tbody>
    </table>
  </div>
</div>
<br />
</body>
</html>
