<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Switchhost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="skeleton.min.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Switch Host</h1>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <h3>Library</h3>
        </div>
      </div>
      <div class="row">{GameTitleCards}</div>
    </div>
    <br />
  </body>
</html>
